# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# exclude raw data directory
/UCI HAR Dataset

# ignore raw data zip file
*.zip
